ul{position: -webkit-sticky; /* Safari */ position: sticky; top: 0;
  overflow: hidden; background-color: #800000}
li {display: inline; float: left;}
li a {color: white; display: block; text-align: center; padding: 15px;}
li a:hover:not(.active) {background-color: #4d0000;}
.active {background-color: #ff0000;}
body {background-image: url(../objects/message2.jpeg);}

/* Other background option url(../objects/blackboard.jpg)
