{% extends "main/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<!--Channel information & Schedule-->
<div class="container-fluid">    
    <div class="row content">
        <div class="col-6" style="text-align:center; background-color:#293132">
            <!-- Channel List -->
            <h2>Edit Channel</h2>
            <!-- Search Channel -->
            <div>
                <form class="form-group" method="post" style="color:white; width:100%; padding: 0 25% 10% 25%">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button style="width:100px; float:left;" type="submit" class="btn btn-secondary">Save</button>
                    <a style="width:100px; float:right;" class="btn btn-danger" href="{% url 'channel-delete' channel.id %}">Delete</a>
                </form>
            </div>
        </div>


        <!--Contact list-->
        <div class="col-4" style="text-align:center; border: 1px solid black; background-color:#293132">
            <h2 style="text-align: center">Channel Users</h2>
            <div class="search-container" style="padding:10px">
                <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <section style="padding:5%">
                <div class="table-wrapper-scroll-y" style="border: 1px solid black; background-color:white">
                <table style="width:100%; text-align:left">
                    <tbody>
                    <tr> <td>User Alias 1</td> </tr>
                    <tr> <td>User Alias 2</td> </tr>
                    <tr> <td>User Alias 3</td> </tr>
                    <tr> <td>User Alias 4</td> </tr>
                    <tr> <td>User Alias 5</td> </tr>
                    <tr> <td>User Alias 6</td> </tr>
                    <tr> <td>User Alias 7</td> </tr>
                    <tr> <td>User Alias 8</td> </tr>
                    <tr> <td>User Alias 9</td> </tr>
                    </tbody>
                </table>
                </div>
            </section>
            <p>
                <button class="button">Remove User<br>(NotActive)</button>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
