{% extends "main/base.html" %}
{% block content %}
<!--Header and Title for pages-->
<head>

</head>

<!--All the stuff you see-->
<body>
  <!--Channel information & Schedule-->
  <div class="container-fluid">
    <div class="row content">
      <div class="col-4" style="text-align:center; border: 1px solid black; background-color:#293132">
        <h2>Channel Information</h2>
          <p style="color:white">Channel Name: &lt;name&gt;</p>
          <p style="color:white">Channel Type: &lt;Email or Text&gt;</p>
          <p style="color:white">Your Alias: &lt;Unique Alias&gt;</p>
          <p style="color:white">Schedule:</p>
            <div style="text-align:center; border: 1px solid black; background-color:white">
              <p>This channel will be open:</p>
              <p>From:&lt;start date&gt; To:&lt;end date&gt;</p>
              <br>
              <p>Quiet Hours for this channel are:</p>
              <p>From:&lt;start time&gt; To:&lt;end time&gt;</p>
            </div><br>
            <p><a href="{% url 'main-channelsettings' %}"><button class="button">Edit Channel Settings</button></a></p>
      <br>
      </div>
      <!--Inbox-->
      <div class="col-5" style="text-align:center; border: 1px solid black; background-color:#293132">
        <h2>Messages</h2>
          <div style="border: 1px solid black; background-color:white">
            <table style="width:100%; text-align:left">
              <tbody>
                <!--Connect to messages-->
                <tr> <td>Message 1</td> </tr>
                <tr> <td>Message 2</td> </tr>
              </tbody>
            </table>
          </div>
          <section style="width:100%; margin-top:15px">
              <textarea>Write a new message here...</textarea>
          </section>
          <p>
            <button class="button" id="sendBtn">Send Message<br>(NotActive)</button>
          </p>
	    </div>
    <!--Contact list-->
    <div class="col-3" style="padding:5px; text-align:center; border: 1px solid black; background-color:#293132">
        <h2>Contact List</h2>
          <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <section style="padding:5%">
            <div style="border: 1px solid black; background-color:white">
              <table style="width:100%; text-align:center">
                <tbody>
                  <tr> <td>User Alias 1</td> </tr>
                  <tr> <td>User Alias 2</td> </tr>
                  <tr> <td>User Alias 3</td> </tr>
                  <tr> <td>User Alias 4</td> </tr>
                </tbody>
              </table>
            </div>
          </section>
  </div>
</div>
</body>
{% endblock content %}
