{% extends "main/base.html" %}
{% block content %}
{% load static %}

<body>
<!-- The Page -->
  <div class="container-fluid">
    <div class="row content">
    <!-- Left Side -->
      <div class="col-12" style="text-align:center; background-color:#293132">
        <!-- Channel List -->
        <h2>Channel List</h2>
          <!-- Channels -->
          <div class="table-wrapper-scroll-y" style="margin: 3%; background-color:#293132">
            {% for channel in channels %}
              <p style='margin:auto; padding:0px 0px 10px 0px'>
                <a href="{% url 'channel-detail' channel.slug %}"><button style="padding-bottom: 5px" class='btn btn-secondary btn-block'>{{ channel.room_name }}</button>
              </p>
            {% endfor %}
          </div>
      </div>
  </div>
</body>
{% endblock content %}
