{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row content">
        <!-- Channel Information -->
        <div class="col-4" style="border-radius: 10px; background-color:#293132">
            <p style="color:white">Channel Name: {{ object.room_name }}</p>
            <p style="color:white">Channel Owner: {{ object.room_owner }}</p>
            <p style="color:white">Channel Type: -----</p>
            <p style="color:white">Your Alias: {{ user.profile.anon }} </p>
            <p style="color:white">Schedule: </p>
            <div style="border-radius: 10px; background-color:white">
                <p style="padding: 0 0 0 5px">Channel Life:</p>
                <p style="padding: 0 0 0 5px">{{ object.start_life }} - {{ object.expire_date }}</p>
                <br>
                <p style="padding: 0 0 0 5px">Quiet Hours:</p>
                <p style="padding: 0 0 0 5px">{{ object.start_quiet_hour }} - {{ object.end_quiet_hour }}</p>
            </div><br>
            {% if user == object.room_owner %}
                <p><a href="{% url 'channel-update' channel.slug %}"><button class="btn btn-secondary btn-block">Edit Channel Settings</button></a></p>
            {% endif %}
            <br>
        </div>

        <!-- MESSAGING SYSTEM -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <div class="col-5" style="text-align:center; border-radius: 10px; background-color:#293132">
            <h2 style="color:#00BFFF">Messages</h2>
            <!-- PLACE CHAT IN BETWEEN HERE-->
            <div style="border: 1px solid black; background-color:white">
                <textarea id="chat-log" cols="50" rows="10"></textarea>
                <script>
                    var chatlist = document.getElementById('chat-log');
                    chatlist.scrollTop = chatlist.scrollHeight;
                </script>
            </div>
            <section style="width:100%; margin-top:15px">
                <input id="chat-input" type="text" size="50"/><br/>
            </section>
            <p>
                <br><input id="chat-submit" type="button" value="Send"/>
            </p>
            <script>
                $(document).ready(function () {
                    $('#chat-submit').click(function () {
                        var user = "{{ user.profile.anon }}";
                        var text = user + ": " + $('#chat-input').val() + "\n";
                        $('#chat-log').html($('#chat-log').html() + text);
                        $('#chat-input').val('');
                    });
                    $.post('channel/{{ slug }}', { from: user, text: text });
                });
            </script>
        </div>

        <!--Contact list-->
        <div class="col-3" style="padding:5px; border-radius: 10px; text-align:center; background-color:#293132">
            <h2 style="color:#00BFFF">Contact List</h2>
            <div class="search-container">
                <form action="/action_page.php">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <section style="padding:5%">
                <div style="border: 1px solid black; background-color:white">
                    <table style="width:100%; text-align:center">
                        <tbody>
                            <tr> <td>User Alias 1</td> </tr>
                            <tr> <td>User Alias 2</td> </tr>
                            <tr> <td>User Alias 3</td> </tr>
                            <tr> <td>User Alias 4</td> </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
