{% extends "main/base.html" %}
{% block content %}

<!--Header and Title for pages-->
<head>
  <title>ChannelX</title>
<!--Comment/Uncomment line for search icon-->
  <style>
    p {color:white}
  </style>
</head>

<!--All the stuff you see-->
<body>
  <!--Channel information-->
  <div class="container-fluid">
    <div class="row content">
      <div class="col-6" style="text-align:center; border: 1px solid black; background-color:#293132">
      <h2 style="text-align:center">Channel List</h2>
      <div class="search-container" style="padding: 10px 35px">
        <form action="/action_page.php">
          <input type="text" placeholder="Search..(NotActive)" name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <section style="padding:5%">
        <div class="table-wrapper-scroll-y" style="border: 1px solid black; background-color:white">
          <table style="width:100%; text-align:left">
            <tbody>
              <tr><td><button class='btn btn-secondary btn-block' style='width:100%; height:60px'>Channel Name 1<br>{List of Users}</button></td></tr>
              <tr><td><button class='btn btn-secondary btn-block' style='width:100%; height:60px'>Channel Name 2<br>{List of Users}</button></td></tr>
              <tr><td><button class='btn btn-secondary btn-block' style='width:100%; height:60px'>Channel Name 3<br>{List of Users}</button></td></tr>
            </tbody>
          </table>
        </div>
      </section>
      <p style="font-size: 15px; text-align:center"> Channel Count: {Count} </p>
    </div>
  <!--Join a Channel-->
    <div class="col-6" style="text-align:center; border: 1px solid black; background-color:#293132">
      <h2>Join a Channel</h2>
      <p>Enter an existing Channel Name:</p>
      <p>
        <input class="form-control" placeholder="<Channel Name>" id="room-name-input" name="createChannel" type="text">
      </p>
      <p style="margin:auto; width:200px; padding:10px">
          <button id = 'room-name-submit' class="button">Send Join Request<br>(NotActive)</button>
      </p>
      <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/channel/' + roomName + '/';
        };
    </script>
    </div>
    <p style="padding-top:50px"></p>
    </div>
  </div>
</body>
{% endblock content %}
