{% extends "main/base.html" %}
{% block content %}

<!--All the stuff you see-->
<div class="container-fluid">
    <div class="row-content">
        <div class="col-12" style="text-align:center; border: 1px solid black; background-color:#293132">
            <h2>Join a Channel</h2>
            <p>Enter an existing Channel Name:</p>
            <form style="width:100%; padding:0 25% 3% 25%" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary" type="submit">Join Channel</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
