{% extends "main/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<body>
<!-- The Page -->
  <div class="container-fluid">
    <div class="row content">
    <!-- Left Side -->
      <div class="col-8" style="text-align:center; background-color:#293132">
        <!-- Channel List -->
        <h2 style="color:#00BFFF">Channel List</h2>
        <!-- Search Channel -->
        <div>
            <form>
              <input type="text" placeholder="Search Channel List" name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
              <!-- Channel Count -->
              <div style="color: #547aa5; padding:10px">Channel Count - &lt;MAGIC NUMBER&gt;</div>
            </form>
        </div>
          <!-- Channels -->
          <div class="table-wrapper-scroll-y" style="margin: 3%; background-color:#293132">
            {% for channel in channels %}
              <p style='margin:auto; padding:0px 0px 10px 0px'>
                <a href="{% url 'channel-detail' channel.slug %}"><button style="padding-bottom: 5px" class='btn btn-secondary btn-block'>{{ channel.room_name }}<br>{List of Users}</button>
              </p>
            {% endfor %}
          </div>
      </div>
      <!-- Right Side -->
      <div class="col-4" style="height:200px; background-color:#293132;">
      <!-- Buttons -->
                <p style='margin:auto; padding:20px 10px 0px 10px'>
                    <a href="{% url 'channel-create' %}"><button class='btn btn-secondary btn-block'>Create Channel</button></a>
                </p>
                <p style='margin:auto; padding:20px 10px 0px 10px'>
                    <a href="{% url 'main-findchannel' %}"><button class='btn btn-secondary btn-block'>Find a Channel</button></a>
                </p>
            </div>
        </div>
    </div>
  </div>
</body>
{% endblock content %}
