{% extends "main/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<body>
<!-- The Page -->
  <div class="container-fluid">
    <div class="row content">
      <div class="col-2"> <!-- Just for formating --> </div>
      <div class="col-8" style="text-align:center; border: 1px solid black; background-color:#293132">
        <h1 style="font-size: 60px">ChannelX</h1>
        <p style="color:white" >ChannelX is a anonymous messaging system that allows for people to
        communcate for a finite amount of time with the option of setting up
        selected time periods that are undisturbed called 'Quiet Hours.'</p>
        {% if user.is_authenticated %}
        <p style="background:darkgray; border: 1px solid black; font-size:30px; padding:5px" href="{% url 'main-channelsettings' %}">Channel Settings</p>
        <br>
        <p style="background:darkgray; border: 1px solid black; font-size:30px; padding:5px" href="{% url 'main-createchannel' %}">Create Channel</p>
        <br>
        <p style="background:darkgray; border: 1px solid black; font-size:30px; padding:5px" href="{% url 'main-findchannel' %}">Find Channel</p>
        {% else %}
        <a style="background:darkgray; border: 1px solid black; font-size:30px; padding:5px" href="{% url 'login' %}">Login</a>
        <a style="padding:30px"></a>
        <a style="background:darkgray; border: 1px solid black; font-size:30px; padding:5px" href="{% url 'users-register' %}">Register</a>
        {% endif %}
        <br><br>
      </div>
  </div>

{% endblock content %}
