{% extends "main/base.html" %}
{% block content %}

<!-- Channel Buttons -->

<section style="background-color:pink">
    <div class="container"; style="float:right; text-align:center; border:1px solid black; width:300px; height:200px; background-color:white">
        <p style='margin:auto; padding-top:20px'>
            <a href="#"><button class='btn btn-secondary btn-block' id='createBtn'>Create Channel</button></a>
        </p>
        <p style='margin:auto; padding-top:20px'>
            <a href="#"><button class='btn btn-secondary btn-block' id='findBtn'>Find a Channel</button></a>
        </p>
        <p style='margin:auto; padding-top:20px'>
            <a href="#"><button class='btn btn-secondary btn-block' id='userBtn'>User Profile</button></a>
        </p>
    </div>
</section>

<!-- Channel List -->
<section style="float:left; text-align:center; width:100%">
    <h2>Channel List</h2>
    <div style="text-align:center; border:1px solid black; height:400px; background-color:lightgray">
    <div class="search-container" style="padding:10px">
    <form action="/action_page.php">
        <input type="text" placeholder="Search Channel List" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>
    <section style="padding:2%">
    <div class="table-wrapper-scroll-y" style="height:500px; border:1px solid black; background-color:white">
        <table style="text-align:center">
        <tbody>
            <p style='padding-top:5px'>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 1<br>{List of Users}</button></td></tr>
            </p>
            
            <p style='margin:auto; padding-top:20px'>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 2<br>{List of Users}</button></td></tr>
            </p>

            <p style='margin:auto; padding-top:20px'></p>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 3<br>{List of Users}</button></td></tr>
            </p>

            <p style='margin:auto; padding-top:20px'></p>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 4<br>{List of Users}</button></td></tr>
            </p>

            <p style='margin:auto; padding-top:20px'></p>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 5<br>{List of Users}</button></td></tr>
            </p>

            <p style='margin:auto; padding-top:20px'></p>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 6<br>{List of Users}</button></td></tr>
            </p>

            <p style='margin:auto; padding-top:20px'></p>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 7<br>{List of Users}</button></td></tr>
            </p>

            <p style='margin:auto; padding-top:20px'></p>
            <tr><td><button class="btn btn-outline-secondary"; style='width:100%; height:45px; background-color:white'>Channel Name 8<br>{List of Users}</button></td></tr>
            </p>

        </tbody>
        </table>
    </div>
    <p style='font-size: 15px'>
        Channel Count: {Count}
    </p>
</section>
{% endblock content %}