{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
  <div class="row content">
    <div class="col-2"></div>
    <div class="col-8" style="text-align:center; border: 1px solid black; background-color:gray">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style="color:black" class="border-bottom mb-4">Submit a Ticket</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button  class="btn" type="submit">Submit</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endblock content %}
