{% extends "main/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="content-section" style="color:white; border: 1px solid black; background-color:#293132">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading" style="color:#00BFFF;padding-left:20px">{{ user.username }}</h2>
          <a style="padding-left:5%; color:white">
            Name: {{ user.first_name }} {{ user.last_name }}</a>
            <br>
            <a style="padding-left:5%; color:white">
            Email: {{ user.email }}</a>
            <br>
            <a style="padding-left:5%; color:white">
            Alias: {{ user.profile.id }}</a>
        </div>
      </div>
      <form style="width: 100%; padding:0 25% 0 25%" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-secondary" type="submit">Update Info</button>
          </div>
      </form>
      <div class="border-top pts-3" style="padding-bottom:1%">
          <a style="text-align:center; padding-left:5px; color:white">Change your password?</a>
            <a href="{% url 'pword_reset' %}">Click here</a>
            <!--<a style="float:right; padding-right:5px"> Delete Account</a>-->
      </div>
    </div>
{% endblock content %}
