{% extends "main/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">

<div class="container" style="color:white; text-align:center; border: 1px solid black; background-color:#293132">
    <form style="width: 100%; padding:0 25% 0 25%" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-secondary" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pts-3">
        <small class="text-muted">Already have an account? <a class="ml-2" href='{% url 'main-login' %}'>Sign In</a> </small>
    </div>
</div>
{% endblock content %}
