body {
  padding-top: 56px;
}

.btn-secondary{
  background-color: #293132;
  color: #547aa5;
}

.btn-secondary:hover{
  background-color: #293132;
  border: 1% #575970;
  text-decoration: underline #293132;
}

#box{
  border-radius: 15px;
}