body {
  padding:0;
  background-color: #4f5657;
}

h1, h2, h3, h4, h5, h6 {
  color: #547aa5;}

ul {
  margin: 0;}

tr:nth-child(even) {
  background-color: #D6DBDF}

.bg-steel {
  background-color: #293132;}

.site-header .navbar-nav .nav-link {
  color: #547aa5; font: bold 15px Arial}

.site-header .navbar-nav .nav-link:hover {
  color: white;}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;}

  .account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
